.main-title {
  margin: 50px 0;
  font-size: 43px;
  font-weight: 900;
}

.author__name {
  font-weight: 700;
}

.author__date {
  color: $grey;
}

.article-header {
  padding: 5px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.share {
  display: flex;
}

.share__item {
  &:not(:last-child) {
    margin-right: 5px;
  }
}

.share__link {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--fb {
    border: 1px solid #30619c;
    background-color: #30619c;
  }

  &--snap {
    border: 1px solid #fffc00;
    background-color: #fffc00;
  }

  &--more {
    border: 1px solid $grey;

    .more-dots {
      color: $grey;
      font-weight: 700;
      margin-top: -5px;
    }
  }
}

.share__link-img {
  &--fb {
    width: 9px;
  }

  &--snap {
    width: 16px;
  }
}

.line {
  border-bottom: 1px solid #e0e4e5;
}

.text {
  color: #111111;
  font-size: 20px;
  line-height: 1.3;
}

.victim {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
}

.victim__item {
  width: 300px;
  margin-bottom: 20px;
}

.victim__img {
  width: 200px;
  margin: 0 auto;
}

.victim__name {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.victim__text {
  font-size: 18px;
  text-align: center;
}
