    <div class="cnn-comments-row">
      <div class="cnn-comments-avatar">
        <!-- <img src="images/5db8798d078c666d6df1969d_fb02.jpg" alt="" class="cnn-comments-avatar-img"> -->
      </div>
      <div class="cnn-comments-right"><a href="" class="cnn-comments-username">Женщина, 52&nbsp;года</a>
        <div class="cnn-comments-postblock">В&nbsp;моем возрасте сложно поверить в&nbsp;чудеса, но это средство заставило изменить
          мнение. До&nbsp;сих пор не&nbsp;верю своим глазам, все знакомые в&nbsp;шоке
        </div>
        <div class="cnn-comments-likereply">
          <div class="cnn-comments-likereply-textblock">
            <a href="" class="fb-link">Мне нравится</a> ·
            <a href="" class="fb-link">Комментарий</a> ·
          </div>
          <div class="like-wrap">
            <div class="cnn-comments-likereply-like">
              <a href="" class="like-link">
                <img src="img/icon-like.svg" alt="" class="cnn-comments-likereply-like-icon">
              </a>
            </div>
            <div class="cnn-comments-likereply-textblock">5
              <a href="" class="gray-link"></a>
            </div>
          </div>
          <div class="cnn-comments-likereply-textblock">·
            <a href="" class="gray-link">26 минут назад</a></div>
        </div>
        <div class="cnn-comments-row-replied">
          <div class="cnn-comments-row">
            <div class="cnn-comments-avatar">
              <!-- <img src="images/5db8798d078c66ca0bf19693_fb03.jpg" alt="" class="cnn-comments-avatar-img"> -->
            </div>
            <div class="cnn-comments-right"><a href="" class="cnn-comments-username">Suzanne Pischner</a>
              <div class="cnn-comments-postblock">Рада что вы тоже попробовали. Пришлите, пожалуйста, свои результаты —
                мы добавим их в&nbsp;другую статью, если вы не&nbsp;против</div>
              <div class="cnn-comments-likereply">
                <div class="cnn-comments-likereply-textblock">
                  <a href="" class="fb-link">Мне нравится</a> ·
                  <a href="" class="fb-link">Комментарий</a> ·
                </div>
                <div class="like-wrap">
                  <div class="cnn-comments-likereply-like">
                    <a href="" class="like-link">
                      <img src="img/icon-like.svg" alt="" class="cnn-comments-likereply-like-icon">
                    </a>
                  </div>
                  <div class="cnn-comments-likereply-textblock">4 <a href="" class="gray-link"></a></div>
                </div>
                <div class="cnn-comments-likereply-textblock">· <a href="" class="gray-link">15 минут назад</a></div>
              </div>
            </div>
          </div>
          <div class="cnn-comments-row">
            <div class="cnn-comments-avatar">
              <!-- <img src="images/5db8798d078c66ee6df19691_fb04.jpg" alt="" class="cnn-comments-avatar-img"> -->
            </div>
            <div class="cnn-comments-right"><a href="" class="cnn-comments-username">Женщина, 52&nbsp;года</a>
              <div class="cnn-comments-postblock">Вот мой результат
                <img class="live-foto" src="img/image6.png" alt="">
              </div>
              <div class="cnn-comments-likereply">
                <div class="cnn-comments-likereply-textblock">
                  <a href="" class="fb-link">Мне нравится</a> ·
                  <a href="" class="fb-link">Комментарий</a> ·
                </div>
                <div class="like-wrap">
                  <div class="cnn-comments-likereply-like">
                    <a href="" class="like-link">
                      <img src="img/icon-like.svg" alt="" class="cnn-comments-likereply-like-icon">
                    </a>
                  </div>
                  <div class="cnn-comments-likereply-textblock">12 <a href="" class="gray-link"></a></div>
                </div>
                <div class="cnn-comments-likereply-textblock">· <a href="" class="gray-link">10 минут назад</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cnn-comments-row">
      <div class="cnn-comments-avatar">
        <!-- <img src="images/5db8798d078c667c09f196a5_fb05.jpg" alt="" class="cnn-comments-avatar-img"> -->
      </div>
      <div class="cnn-comments-right"><a href="" class="cnn-comments-username">Женщина, 36&nbsp;лет
        </a>
        <div class="cnn-comments-postblock">Теперь понятно, почему все голливудские актрисы так круто выглядят))</div>
        <div class="cnn-comments-likereply">
          <div class="cnn-comments-likereply-textblock">
            <a href="" class="fb-link">Мне нравится</a> ·
            <a href="" class="fb-link">Комментарий</a> ·
          </div>
          <div class="like-wrap">
            <div class="cnn-comments-likereply-like">
              <a href="" class="like-link">
                <img src="img/icon-like.svg" alt="" class="cnn-comments-likereply-like-icon">
              </a>
            </div>
            <div class="cnn-comments-likereply-textblock">7 <a href="" class="gray-link"></a></div>
          </div>
          <div class="cnn-comments-likereply-textblock">· <a href="" class="gray-link">30 минут назад</a></div>
        </div>
      </div>
    </div>
    <div class="cnn-comments-row">
      <div class="cnn-comments-avatar">
        <!-- <img src="images/5db8798d078c662bedf196a0_fb10.jpg" alt="" class="cnn-comments-avatar-img"> -->
      </div>
      <div class="cnn-comments-right"><a href="" class="cnn-comments-username">Женщина, 38&nbsp;лет</a>
        <div class="cnn-comments-postblock">подумывала об&nbsp;уколах красоты, но прочитав вашу статью, пожалуй, откажусь…
        </div>
        <div class="cnn-comments-likereply">
          <div class="cnn-comments-likereply-textblock">
            <a href="" class="fb-link">Мне нравится</a> ·
            <a href="" class="fb-link">Комментарий</a> ·
          </div>
          <div class="like-wrap">
            <div class="cnn-comments-likereply-like">
              <a href="" class="like-link">
                <img src="img/icon-like.svg" alt="" class="cnn-comments-likereply-like-icon">
              </a>
            </div>
            <div class="cnn-comments-likereply-textblock">2 <a href="" class="gray-link"></a></div>
          </div>
          <div class="cnn-comments-likereply-textblock">· <a href="" class="gray-link">35 минут назад</a></div>
        </div>
      </div>
    </div>
    <div class="cnn-comments-row">
      <div class="cnn-comments-avatar">
        <!-- <img src="images/5db8798d078c667f7bf196a3_fb17.jpg" alt="" class="cnn-comments-avatar-img"> -->
      </div>
      <div class="cnn-comments-right"><a href="" class="cnn-comments-username">Женщина, 42 года</a>
        <div class="cnn-comments-postblock">
          Я уже заказала свою масочку, спасибо, что&nbsp;пропагандируете натуральное омоложение!
        </div>
        <div class="cnn-comments-likereply">
          <div class="cnn-comments-likereply-textblock">
            <a href="" class="fb-link">Мне нравится</a> ·
            <a href="" class="fb-link">Комментарий</a> ·
          </div>
          <div class="like-wrap">
            <div class="cnn-comments-likereply-like">
              <a href="" class="like-link">
                <img src="img/icon-like.svg" alt="" class="cnn-comments-likereply-like-icon">
              </a>
            </div>
            <div class="cnn-comments-likereply-textblock">8 <a href="" class="gray-link"></a></div>
          </div>
          <div class="cnn-comments-likereply-textblock">· <a href="" class="gray-link">43 минуты назад</a></div>
        </div>
      </div>
    </div>
    <div class="cnn-comments-row">
      <div class="cnn-comments-avatar">
        <!-- <img src="images/5db8798d078c667f7bf196a3_fb17.jpg" alt="" class="cnn-comments-avatar-img"> -->
      </div>
      <div class="cnn-comments-right"><a href="" class="cnn-comments-username">Женщина, 45&nbsp;лет</a>
        <div class="cnn-comments-postblock">
          Моя лучшая подруга пользуется около 1,5&nbsp;месяца. Я не&nbsp;поверила ее словам по поводу маски, пока не нашла эту
          статью. Видимо <a href="" class="blue-text article__link">Moor&nbsp;Mask</a> действительно работает! Больше всего поражает стоимость, это куда дешевле и&nbsp;безопаснее пластической операции.
        </div>
        <div class="cnn-comments-likereply">
          <div class="cnn-comments-likereply-textblock">
            <a href="" class="fb-link">Мне нравится</a> ·
            <a href="" class="fb-link">Комментарий</a> ·
          </div>
          <div class="like-wrap">
            <div class="cnn-comments-likereply-like">
              <a href="" class="like-link">
                <img src="img/icon-like.svg" alt="" class="cnn-comments-likereply-like-icon">
              </a>
            </div>
            <div class="cnn-comments-likereply-textblock">9 <a href="" class="gray-link"></a></div>
          </div>
          <div class="cnn-comments-likereply-textblock">· <a href="" class="gray-link">57 минут назад</a></div>
        </div>
      </div>
    </div>
    <div class="cnn-comments-row">
      <div class="cnn-comments-avatar">
        <!-- <img src="images/5db8798d078c667f7bf196a3_fb17.jpg" alt="" class="cnn-comments-avatar-img"> -->
      </div>
      <div class="cnn-comments-right"><a href="" class="cnn-comments-username">Женщина, 49&nbsp;лет</a>
        <div class="cnn-comments-postblock">
          Я&nbsp;бы попробовала, эффект поражает
        </div>
        <div class="cnn-comments-likereply">
          <div class="cnn-comments-likereply-textblock">
            <a href="" class="fb-link">Мне нравится</a> ·
            <a href="" class="fb-link">Комментарий</a> ·
          </div>
          <div class="like-wrap">
            <div class="cnn-comments-likereply-like">
              <a href="" class="like-link">
                <img src="img/icon-like.svg" alt="" class="cnn-comments-likereply-like-icon">
              </a>
            </div>
            <div class="cnn-comments-likereply-textblock">2 <a href="" class="gray-link"></a></div>
          </div>
          <div class="cnn-comments-likereply-textblock">· <a href="" class="gray-link">более часа назад</a></div>
        </div>
      </div>
    </div>
    <div class="cnn-comments-row">
      <div class="cnn-comments-avatar">
        <!-- <img src="images/5db8798d078c667f7bf196a3_fb17.jpg" alt="" class="cnn-comments-avatar-img"> -->
      </div>
      <div class="cnn-comments-right"><a href="" class="cnn-comments-username">Женщина, 52&nbsp;года</a>
        <div class="cnn-comments-postblock">
          Не устояла и&nbsp;заказала это средство. Нравится ощущение бархатной кожи после использования маски
        </div>
        <div class="cnn-comments-likereply">
          <div class="cnn-comments-likereply-textblock">
            <a href="" class="fb-link">Мне нравится</a> ·
            <a href="" class="fb-link">Комментарий</a> ·
          </div>
          <div class="like-wrap">
            <div class="cnn-comments-likereply-like">
              <a href="" class="like-link">
                <img src="img/icon-like.svg" alt="" class="cnn-comments-likereply-like-icon">
              </a>
            </div>
            <div class="cnn-comments-likereply-textblock">4 <a href="" class="gray-link"></a></div>
          </div>
          <div class="cnn-comments-likereply-textblock">· <a href="" class="gray-link">более часа назад</a></div>
        </div>
        <div class="cnn-comments-row-replied">
          <div class="cnn-comments-row">
            <div class="cnn-comments-avatar">
              <!-- <img src="images/5db8798d078c66ca0bf19693_fb03.jpg" alt="" class="cnn-comments-avatar-img"> -->
            </div>
            <div class="cnn-comments-right"><a href="" class="cnn-comments-username">Женщина, 43&nbsp;года</a>
              <div class="cnn-comments-postblock">А предоплата нужна?</div>
              <div class="cnn-comments-likereply">
                <div class="cnn-comments-likereply-textblock">
                  <a href="" class="fb-link">Мне нравится</a> ·
                  <a href="" class="fb-link">Комментарий</a> ·
                </div>
                <div class="like-wrap">
                  <div class="cnn-comments-likereply-like">
                    <a href="" class="like-link">
                      <img src="img/icon-like.svg" alt="" class="cnn-comments-likereply-like-icon">
                    </a>
                  </div>
                  <div class="cnn-comments-likereply-textblock">11 <a href="" class="gray-link"></a></div>
                </div>
                <div class="cnn-comments-likereply-textblock">· <a href="" class="gray-link">более часа назад</a></div>
              </div>
            </div>
          </div>
          <div class="cnn-comments-row">
            <div class="cnn-comments-avatar">
              <!-- <img src="images/5db8798d078c66ee6df19691_fb04.jpg" alt="" class="cnn-comments-avatar-img"> -->
            </div>
            <div class="cnn-comments-right"><a href="" class="cnn-comments-username">Женщина, 52&nbsp;года</a>
              <div class="cnn-comments-postblock">Нет, я&nbsp;оплачивала при получении
              </div>
              <div class="cnn-comments-likereply">
                <div class="cnn-comments-likereply-textblock">
                  <a href="" class="fb-link">Мне нравится</a> ·
                  <a href="" class="fb-link">Комментарий</a> ·
                </div>
                <div class="like-wrap">
                  <div class="cnn-comments-likereply-like">
                    <a href="" class="like-link">
                      <img src="img/icon-like.svg" alt="" class="cnn-comments-likereply-like-icon">
                    </a>
                  </div>
                  <div class="cnn-comments-likereply-textblock">5 <a href="" class="gray-link"></a></div>
                </div>
                <div class="cnn-comments-likereply-textblock">· <a href="" class="gray-link">более часа назад</a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="cnn-comments-row">
      <div class="cnn-comments-avatar">
        <!-- <img src="images/5db8798d078c667f7bf196a3_fb17.jpg" alt="" class="cnn-comments-avatar-img"> -->
      </div>
      <div class="cnn-comments-right"><a href="" class="cnn-comments-username">Женщина, 47&nbsp;года</a>
        <div class="cnn-comments-postblock">
          Очень удобно. Открыла пакетик - нанесла
        </div>
        <div class="cnn-comments-likereply">
          <div class="cnn-comments-likereply-textblock">
            <a href="" class="fb-link">Мне нравится</a> ·
            <a href="" class="fb-link">Комментарий</a> ·
          </div>
          <div class="like-wrap">
            <div class="cnn-comments-likereply-like">
              <a href="" class="like-link">
                <img src="img/icon-like.svg" alt="" class="cnn-comments-likereply-like-icon">
              </a>
            </div>
            <div class="cnn-comments-likereply-textblock">11 <a href="" class="gray-link"></a></div>
          </div>
          <div class="cnn-comments-likereply-textblock">· <a href="" class="gray-link">
            <span class="date-1"></span> 20:47
          </a></div>
        </div>
        <div class="cnn-comments-row-replied">
          <div class="cnn-comments-row">
            <div class="cnn-comments-avatar">
              <!-- <img src="images/5db8798d078c66ca0bf19693_fb03.jpg" alt="" class="cnn-comments-avatar-img"> -->
            </div>
            <div class="cnn-comments-right"><a href="" class="cnn-comments-username">Женщина, 44&nbsp;года</a>
              <div class="cnn-comments-postblock">Я тоже оценила, удобно брать с&nbsp;собой в&nbsp;поездки, не нужно тащить целую банку</div>
              <div class="cnn-comments-likereply">
                <div class="cnn-comments-likereply-textblock">
                  <a href="" class="fb-link">Мне нравится</a> ·
                  <a href="" class="fb-link">Комментарий</a> ·
                </div>
                <div class="like-wrap">
                  <div class="cnn-comments-likereply-like">
                    <a href="" class="like-link">
                      <img src="img/icon-like.svg" alt="" class="cnn-comments-likereply-like-icon">
                    </a>
                  </div>
                  <div class="cnn-comments-likereply-textblock">6 <a href="" class="gray-link"></a></div>
                </div>
                <div class="cnn-comments-likereply-textblock">· <a href="" class="gray-link">
                                    <span class="date-1"></span> 21:15
                </a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="cnn-comments-row">
      <div class="cnn-comments-avatar">
        <!-- <img src="images/5db8798d078c667f7bf196a3_fb17.jpg" alt="" class="cnn-comments-avatar-img"> -->
      </div>
      <div class="cnn-comments-right"><a href="" class="cnn-comments-username">Женщина, 37&nbsp;лет</a>
        <div class="cnn-comments-postblock">
          Сальма выглядит прекрасно для своих лет! Возьму на&nbsp;заметку это средство)
        </div>
        <div class="cnn-comments-likereply">
          <div class="cnn-comments-likereply-textblock">
            <a href="" class="fb-link">Мне нравится</a> ·
            <a href="" class="fb-link">Комментарий</a> ·
          </div>
          <div class="like-wrap">
            <div class="cnn-comments-likereply-like">
              <a href="" class="like-link">
                <img src="img/icon-like.svg" alt="" class="cnn-comments-likereply-like-icon">
              </a>
            </div>
            <div class="cnn-comments-likereply-textblock">23 <a href="" class="gray-link"></a></div>
          </div>
          <div class="cnn-comments-likereply-textblock">· <a href="" class="gray-link">
            
            <span class="date-1"></span> 18:06
          </a></div>
        </div>

      </div>
    </div>
    <div class="cnn-comments-row">
      <div class="cnn-comments-avatar">
        <!-- <img src="images/5db8798d078c667f7bf196a3_fb17.jpg" alt="" class="cnn-comments-avatar-img"> -->
      </div>
      <div class="cnn-comments-right"><a href="" class="cnn-comments-username">Женщина, 54&nbsp;года</a>
        <div class="cnn-comments-postblock">
          Обожаю глиняные маски, особенно если они не&nbsp;пересушивают кожу. А <a href="" class="blue-text article__link">Moor&nbsp;Mask</a> именно такая. Главное не&nbsp;дожидаться
          ее полного высыхания
        </div>
        <div class="cnn-comments-likereply">
          <div class="cnn-comments-likereply-textblock">
            <a href="" class="fb-link">Мне нравится</a> ·
            <a href="" class="fb-link">Комментарий</a> ·
          </div>
          <div class="like-wrap">
            <div class="cnn-comments-likereply-like">
              <a href="" class="like-link">
                <img src="img/icon-like.svg" alt="" class="cnn-comments-likereply-like-icon">
              </a>
            </div>
            <div class="cnn-comments-likereply-textblock">4 <a href="" class="gray-link"></a></div>
          </div>
          <div class="cnn-comments-likereply-textblock">· <a href="" class="gray-link">
           
            <span class="date-1"></span> 17:22

          </a></div>
        </div>

      </div>
    </div>
