header.header
    .container
        .header__content
            .menu
                a.menu__link(href="")
                    .menu__img
                        img(src="img/menu.svg", alt="menu")
            .search
                a.search__link(href="")
                    .search__img
                        img(src="img/search.svg", alt="search")
            .logo
                a.logo__link(href="")
                    .logo__img
                        img(src="img/logo.svg", alt="Insider")
                        