section.main-content
	.container
		h1.main-title Смертельная погоня за идеалом: существуют ли косметические процедуры без опасных последствий?
		p.line
		.article-header
			.author
				span.author__name Автор — Suzanne Pischner 
				span.author__date.date-5.time
			ul.share
				li.share__item
					a.share__link.share__link--fb(href="")
						img.share__link-img--fb(src="img/facebook.svg", alt="facebook")
				li.share__item
					a.share__link.share__link--snap(href="")
						img.share__link-img--snap(src="img/logo-snapchat.svg", alt="snapchat")
				li.share__item
					a.share__link.share__link--more(href="")
						span.more-dots ...
		p.text Все чаще женщины становятся жертвами красоты. Мечтая выглядеть моложе и красивее, они доверяют свою внешность первым встречным и получают совершенно не тот результат, который ожидают. Порой расплачиваясь за это собственной жизнью… Но есть ли альтернатива? Оказывается, есть. Читайте далее и вы узнаете голливудский секрет молодости Сальмы Хайек. Это не ботокс, и не пластическая операция!
		.article__img
			img(src="img/image18.jpg", alt="")
		p.text Недавно интернет потрясла страшная новость: девушка умерла во время массажа лица в косметологической клинике в Бухаресте. Вот, что об этом пишет румынское информагентство:
		p.text.text-cite “Женщина скончалась во время массажа лица в медицинском центре столицы, — сообщает AGERPRES.
		.article__img
			img(src="img/image15.jpg", alt="")
		p.text.text-cite — Инцидент произошел 
			span.date-21 06.03.2020 
			|  в офисе частного косметологического центра. По словам сотрудницы данного учреждения, ее клиентка, 1989 года рождения, пришла на массаж лица. Она сообщила следователю, что другие процедуры не проводились.
		p.text.text-cite Внезапно у девушки начались судороги и изо рта пошла пена. Скорая помощь была в пути, когда она умерла на глазах у своего косметолога.
		p.text.text-cite При осмотре молодой женщины в области лица и туловища  были обнаружены многочисленные точечные раны, похожие на уколы медицинской иглой. Со слов ее родственников, несколькими днями ранее она обратилась к другим специалистам для косметических процедур. Точную причину смерти сейчас выясняют патологоанатомы. Ведется расследование данного инцидента”.
		h3 Опасная косметология
		p.text К сожалению, это не единственная жертва косметологов! Вот 7 ужасающих историй, которые привели к фатальному исходу за последние 5 лет.
		ul.victim
			li.victim__item
				.victim__img
					img(src="img/image20.jpg", alt="")
				p.victim__name Алёна Кузнецова
				p.victim__text Российская актриса умерла в&nbsp;возрасте 37&nbsp;лет. Она не жаловалась на здоровье, но за несколько дней до смерти сделала роковой “укол красоты”.
			li.victim__item
				.victim__img
					img(src="img/image22.jpg", alt="")
				p.victim__name Сеньясент Синсерос
				p.victim__text Американка умерла от&nbsp;осложнений, вызванных инъекцией поддельного ботокса.
			li.victim__item
				.victim__img
					img(src="img/image11.jpg", alt="")
				p.victim__name Ракель Сантос
				p.victim__text 28-летняя модель из&nbsp;Бразилии умерла во время коррекции мимических морщин. После инъекции у девушки остановилось сердце.
			li.victim__item
				.victim__img
					img(src="img/image10.jpg", alt="")
				p.victim__name Ираида Русу
				p.victim__text 31-летняя женщина решила сделать блефаропластику — операцию по пластике век. От&nbsp;введенного перед процедурой лидокаина, она впала в&nbsp;кому и&nbsp;умерла спустя три дня.
			li.victim__item
				.victim__img
					img(src="img/image1.jpg", alt="")
				p.victim__name Хэмлет Суарес
				p.victim__text 36-летняя американка умерла во&nbsp;время нехирургической подтяжки лица. Плазма из&nbsp;человеческого тела вкалывается в&nbsp;те части лица, которые клиент хочет исправить. В&nbsp;результате — сердечный приступ.
