section.main-content
	.container
		.content
			h1.main-title Смертельная погоня за идеалом: существуют ли косметические процедуры без опасных последствий?
			p.line
			.article-header
				.author
					span.author__name Автор — Suzanne Pischner 
					span.author__date.date-5.time
				ul.share
					li.share__item
						a.share__link.share__link--fb(href="")
							img.share__link-img--fb(src="img/facebook.svg", alt="facebook")
					li.share__item
						a.share__link.share__link--snap(href="")
							img.share__link-img--snap(src="img/logo-snapchat.svg", alt="snapchat")
					li.share__item
						a.share__link.share__link--more(href="")
							span.more-dots ...
			p.text Все чаще женщины становятся жертвами красоты. Мечтая выглядеть моложе и красивее, они доверяют свою внешность первым встречным и получают совершенно не тот результат, который ожидают. Порой расплачиваясь за это собственной жизнью… Но есть ли альтернатива? Оказывается, есть. Читайте далее и вы узнаете голливудский секрет молодости Сальмы Хайек. Это не ботокс, и не пластическая операция!
			.article__img
				img(src="img/image18.jpg", alt="")
			p.text Недавно интернет потрясла страшная новость: девушка умерла во время массажа лица в косметологической клинике в Бухаресте. Вот, что об этом пишет румынское информагентство:
			p.text.text-cite “Женщина скончалась во время массажа лица в медицинском центре столицы, — сообщает AGERPRES.
			.article__img
				img(src="img/image15.jpg", alt="")
			p.text.text-cite — Инцидент произошел 
				span.date-21 06.03.2020 
				|  в офисе частного косметологического центра. По словам сотрудницы данного учреждения, ее клиентка, 1989 года рождения, пришла на массаж лица. Она сообщила следователю, что другие процедуры не проводились.
			p.text.text-cite Внезапно у девушки начались судороги и изо рта пошла пена. Скорая помощь была в пути, когда она умерла на глазах у своего косметолога.
			p.text.text-cite При осмотре молодой женщины в области лица и туловища  были обнаружены многочисленные точечные раны, похожие на уколы медицинской иглой. Со слов ее родственников, несколькими днями ранее она обратилась к другим специалистам для косметических процедур. Точную причину смерти сейчас выясняют патологоанатомы. Ведется расследование данного инцидента”.
			h3 Опасная косметология
			p.text К сожалению, это не единственная жертва косметологов! Вот 7 ужасающих историй, которые привели к фатальному исходу за последние 5 лет.
			ul.victim
				li.victim__item
					.victim__img
						img(src="img/image20.jpg", alt="")
					p.victim__name Алёна Кузнецова
					p.victim__text Российская актриса умерла в&nbsp;возрасте 37&nbsp;лет. Она не жаловалась на здоровье, но за несколько дней до смерти сделала роковой “укол красоты”.
				li.victim__item
					.victim__img
						img(src="img/image22.jpg", alt="")
					p.victim__name Сеньясент Синсерос
					p.victim__text Американка умерла от&nbsp;осложнений, вызванных инъекцией поддельного ботокса.
				li.victim__item
					.victim__img
						img(src="img/image11.jpg", alt="")
					p.victim__name Ракель Сантос
					p.victim__text 28-летняя модель из&nbsp;Бразилии умерла во время коррекции мимических морщин. После инъекции у девушки остановилось сердце.
				li.victim__item
					.victim__img
						img(src="img/image10.jpg", alt="")
					p.victim__name Ираида Русу
					p.victim__text 31-летняя женщина решила сделать блефаропластику — операцию по пластике век. От&nbsp;введенного перед процедурой лидокаина, она впала в&nbsp;кому и&nbsp;умерла спустя три дня.
				li.victim__item
					.victim__img
						img(src="img/image1.jpg", alt="")
					p.victim__name Хэмлет Суарес
					p.victim__text 36-летняя американка умерла во&nbsp;время нехирургической подтяжки лица. Плазма из&nbsp;человеческого тела вкалывается в&nbsp;те части лица, которые клиент хочет исправить. В&nbsp;результате — сердечный приступ.
			p.text Это лишь небольшая часть трагических женских историй. На самом деле, таких случаев гораздо больше. И самое печальное то, что наказаны далеко не все виновные. Они продолжают убивать и уродовать женщин, которые хотят всего лишь сохранить молодость.
			p.text.text-bg Что же делать? Современные женщины могут легко справиться без мужчины, но не без косметолога. Есть ли вообще жизнь без косметологии? Известная актриса Сальма Хайек помогла миллионам женщин узнать о безопасном и эффективном способе оставаться красивой в&nbsp;любом возрасте. 
			p.text Во время эфира “Шоу доктора Оза” Сальма Хайек спровоцировала доктора Оза раскрыть голливудский секрет, который он до этого времени так тщательно хранил. Его метод позволяет устранить морщины 
				strong БЕЗ ботокса или хирургического вмешательства. 
				| ТЕПЕРЬ КАЖДЫЙ МОЖЕТ ПОДШУЧИВАТЬ НАД ПЛАСТИЧЕСКИМИ ОПЕРАЦИЯМИ, как эта красивая актриса.
			.article__img
				img(src="img/image19.png", alt="")
			p.text.text-cite “Недавно я узнала историю, которая потрясла меня, — начала свой рассказ Хайек. — Один мужчина из Марселя развелся с&nbsp;женой Глорией, потому что она стала слишком старой! Он называл ее “морщинистой старой сливой”! Жена хотела отомстить ему, она пробовала различные способы, но результата не было. Хотела сделать пластическую операцию, но ей отказали из-за возраста.
			p.text.text-cite Это ужасно! Мне так хочется помочь этой женщине и&nbsp;тысячам других таких же, как она. По-моему, это несправедливо, что женщины умирают на операционных столах или тратят большие суммы денег на средства для омоложения, которые не работают. 
				strong Доктор Оз, давай раскроем наконец ваш секрет! Пусть больше женщин выглядят так же, как и&nbsp;я в&nbsp;53&nbsp;года!”.
			.article__img
				img(src="img/image9.png", alt="")
			p.text Зрители в студии поддержали актрису. Доктору Озу было некуда деваться и&nbsp;он поделился своим секретным методом омоложения. Хотя до этого момента держал его в&nbsp;тайне и&nbsp;дорого продавал знаменитостям.
			p.text.text-cite.driver “Сальма, ты оставляешь меня без домика на Мальдивах! Но так и&nbsp;быть — я&nbsp;расскажу всем женщинам, как оставаться молодыми без дорогих и&nbsp;опасных косметологических процедур”, — сказал на&nbsp;своем шоу доктор Оз.
			.article__img
				img(src="img/image12.png", alt="")
			p.text Оказалось, что после нескольких месяцев испытаний и исследований, его команда создала продукт, который позволяет 
				strong всего за 1&nbsp;месяц убрать возрастные изменения и визуально выглядеть на 10-15&nbsp;лет моложе.
				| К тому же, это средство стоит недорого. Название этого продукта — 
				a.blue-text.article__link(href="") Moor&nbsp;Mask
				|. И&nbsp;секрет его — в&nbsp;комбинации уникальных ингредиентов. 
			.article__img
				img(src="img/image7.png", alt="")
			h3 Что же в составе?
			p.text Первый компонент 
				a.blue-text.article__link(href="") Moor&nbsp;Mask
				strong  — гиалуроновая кислота. 
				| Она нормализует уровень влажности кожи, тем самым предотвращая преждевременное старение, восстанавливает естественные функции кожи, укрепляет и&nbsp;делает ее&nbsp;здоровой.
			.article__img
				img(src="img/image2.png", alt="")
			p.text Второй компонент — 
				strong гуминовые вещества
				|. Это самый сильный антиоксидант в мире, который защищает клетки кожи от негативного воздействия окружающей среды и солнечного излучения. Они ускоряют процесс обновления клеток и восстанавливают нормальное функционирование кожи. Кроме того, вещества глубоко впитываются и уравновешивают выделение подкожного жира.
			.article__img
				img(src="img/image8.png", alt="")
			p.text Также в составе есть 
				strong белки и витамины. 
				|Они наполняют кожу энергией, стимулируют образование новых клеток, обеспечивая тем самым омоложение. 
			.article__img
				img(src="img/image5.png", alt="")
			h3 Как применять Moor&nbsp;Mask?
			p.text Пользоваться маской Moor Mask очень просто. Для этого нужно: 
			ol.steps
				li.steps__item
					p.steps__text.text Очистить лицо тоником.
				li.steps__item
					p.steps__text.text Нанести смесь из саше-пакета, избегая области вокруг глаз (обладательницам сухой и&nbsp;чувствительной кожи рекомендуется предварительно разогревать маску на&nbsp;водяной бане).
				li.steps__item
					p.steps__text.text Смыть теплой водой, как только маска начнет подсыхать. Примерно через 10-15&nbsp;минут.
			.article__img
				img(src="img/image21.png", alt="")
			p.text.text-italic Старение — стресс для всех женщин и особенно для актрис. Благодаря доктору Озу все они могут выглядеть лучше
			h3 Доверяй, но проверяй
			p.text Мы были потрясены результатами клиенток доктора Оза, но хотели сами убедиться в эффективности маски Moor Mask. Поэтому прежде чем писать эту статью, решили протестировать ее на той самой женщине, о которой говорила Сальма Хайек — Глории. С трудом, но нам удалось ее отыскать.
			p.text.blue-text Глория — 67-летняя женщина из Марселя. Ее возраст предательски выдают морщины на лбу, щеках, шее, а также вокруг глаз. Глория решилась на наш эксперимент, потому что, по ее словам, не оставила надежд отомстить мужу и по-прежнему в поиске средства для омоложения. Кардинальное преображение Глории окончательно убедило нас в эффективности этого средства.
			p.text 
				strong Вот ее результат за 14&nbsp;дней...
			p.text
				strong 1&nbsp;день
			.day-box
				img.day-effect(src="img/image16.jpg", alt="")
				.day-box__text
					p “Уже после первого дня использования 
						a.blue-text.article__link(href="") Moor Mask
						|  я&nbsp;увидела эффект. 
						strong Кожа казалась более гладкой, сияющей и&nbsp;подтянутой! 
						| Я&nbsp;была поражена результатом и&nbsp;в&nbsp;ервый раз за&nbsp;долгое время любовалась своим отражением в&nbsp;зеркале!
					p Сразу после нанесения, я почувствовала небольшое горячее покалывание в щеках, вокруг глаз и&nbsp;на лбу. Но это ощущение быстро прошло. Чувствовала себя комфортно и, как обычно, занималась своими домашними делами. Когда смыла маску, увидела, что мое лицо выглядело немного розовым. 
						strong Буквально через 5&nbsp;минут оно стало более упругим и&nbsp;сияло здоровьем”.
			p.text
				strong 5&nbsp;день
			.day-box
				img.day-effect(src="img/image3.jpg", alt="")
				.day-box__text
					p “После 5 дней использования 
						a.blue-text.article__link(href="") Moor&nbsp;Mask
						|, я&nbsp;была еще больше поражена результатами. 
						strong Пигментация кожи и&nbsp;морщины — без сомнения, уменьшились в&nbsp;размерах! 
					p
						strong Я&nbsp;была приятно удивлена и&nbsp;почувствовала себя на 5&nbsp;лет моложе. 
						| Это было похоже на прекрасный сон, в&nbsp;котором все мои морщины исчезают!”
			p.text
				strong 14&nbsp;день
			.day-box
				img.day-effect(src="img/image17.jpg", alt="")
				.day-box__text
					p
						| “После 14&nbsp;дней пропал не только мой скептицизм, но и почти все МОРЩИНЫ! 
					p Линии на лбу, дряблая кожа и&nbsp;свисающая шея, гусиные лапки и&nbsp;даже возрастные пятна на моем лице полностью исчезли. Никогда прежде я не чувствовала и&nbsp;не видела, чтобы так работал какой-либо другой продукт!
					p На протяжении 2&nbsp;недель я&nbsp;каждый день наблюдала, как 
						strong кожа становилась такой же красивой и&nbsp;сияющей, как 20&nbsp;лет назад. 
						| Все мои друзья и&nbsp;родственники были поражены. Они не верили своим глазам и&nbsp;думали, что это все эффект от&nbsp;ботокса. Жду с&nbsp;нетерпением, когда смогу показать им эту статью.”
			p.text Более того, Глории удалось отомстить своему бывшему мужу. Вот что она рассказала нам спустя несколько дней после эксперимента:
			p.text.text-italic “Слух о&nbsp;моем чудесном преображении дошел до&nbsp;бывшего мужа, который бросил меня, потому что я&nbsp;стала слишком стара для него. Он&nbsp;пригласил меня в&nbsp;самый модный ресторан в&nbsp;городе. Сказал, что “совершил ошибку” и&nbsp;“не&nbsp;может жить без меня”. Звонил и&nbsp;писал днем и&nbsp;ночью. Я&nbsp;заблокировала его номер и&nbsp;не&nbsp;читала сообщения. В&nbsp;конце-концов он пришел и&nbsp;на коленях просил дать ему второй шанс! Я&nbsp;же сказала, что никогда к&nbsp;нему не вернусь, потому что он&nbsp;слишком стар и&nbsp;скучен! Выражение его лица в&nbsp;этот момент было бесценным”.
			.article__img
				img(src="img/image4.png", alt="")
			p.img-sub.text-italic Глория до и&nbsp;после. Фото справа было сделано после 14&nbsp;дней использования 
				a.blue-text.article__link(href="") Moor&nbsp;Mask
			h3 Вердикт:
			p.text Средство 		
				a.blue-text.article__link(href="") Moor&nbsp;Mask
				|  устранило около 90%&nbsp;всех морщин и&nbsp;проблемных зон Глории. Ее лицо стало более гладким, а&nbsp;овал — четким. Пропали пигментные пятна и&nbsp;признаки обезвоживания.
			h3 Будет ли это работать для вас?
			p.text Существует много средств по уходу за кожей, стоимость большинства из&nbsp;которых неоправданно высока. При таком количестве вариантов естественно скептически относиться к&nbsp;новым средствам. Поэтому мы не хотим ничего обещать нашим читателям —  вместо этого просто предлагаем вам сделать то, что рекомендует доктор Оз: 
				strong попробуйте сами!
			p.text 
				strong Пожалуйста, помните, что эффект от&nbsp;использования 
					a.blue-text.article__link(href="") Moor&nbsp;Mask
					|  достигается при регулярном применении.
			p.text Для вашего удобства мы оставляем прямую ссылку для заказа этого продукта. Пока мы готовили эту статью, на 
				a.blue-text.article__link(href="") Moor&nbsp;Mask
				|  начала действовать скидка — 50%.
			p.text Мы редко публикуем подобные материалы, потому что чаще всего продукты для омоложения действительно плохие. Но о&nbsp;существовании 
				a.blue-text.article__link(href="") Moor&nbsp;Mask
				|  мы не&nbsp;можем молчать. Попробуйте и&nbsp;напишите нам свой комментарий!
			p.form-title Ограниченный товар. Скидка заканчивается 
				span.date-0
			.order
				.prod-img
					img(src="img/prod.png", alt="Moor&nbsp;Mask")
				.order__form.form
					p.form__title Специальное предложение
					.price
						span.x_currency ГРН.
						span.x_price_previous 98
						span.x_price_current 49
				